<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>7z</key>
	<string>zip</string>
	<key>3gp</key>
	<string>video</string>
	<key>aiff</key>
	<string>audio</string>
	<key>acc</key>
	<string>audio</string>
	<key>amr</key>
	<string>audio</string>
	<key>aif</key>
	<string>audio</string>
	<key>aifc</key>
	<string>audio</string>
	<key>asp</key>
	<string>code</string>
	<key>au</key>
	<string>audio</string>
	<key>bmp</key>
	<string>img</string>
	<key>c</key>
	<string>code</string>
	<key>cc</key>
	<string>code</string>
	<key>chm</key>
	<string>txt</string>
	<key>cl</key>
	<string>code</string>
	<key>cpp</key>
	<string>code</string>
	<key>cs</key>
	<string>code</string>
	<key>css</key>
	<string>code</string>
	<key>cxx</key>
	<string>code</string>
	<key>doc</key>
	<string>doc</string>
	<key>docx</key>
	<string>doc</string>
	<key>eps</key>
	<string>img</string>
	<key>fb2</key>
	<string>txt</string>
	<key>gif</key>
	<string>img</string>
	<key>h</key>
	<string>code</string>
	<key>html</key>
	<string>html</string>
	<key>htm</key>
	<string>html</string>
	<key>ico</key>
	<string>img</string>
	<key>java</key>
	<string>code</string>
	<key>jpeg</key>
	<string>img</string>
	<key>ttif</key>
	<string>img</string>
	<key>jpg</key>
	<string>img</string>
	<key>key</key>
	<string>ppt</string>
	<key>l16</key>
	<string>audio</string>
	<key>lisp</key>
	<string>code</string>
	<key>m</key>
	<string>code</string>
	<key>m3u</key>
	<string>audio</string>
	<key>m4a</key>
	<string>audio</string>
	<key>m4b</key>
	<string>audio</string>
	<key>m4p</key>
	<string>audio</string>
	<key>m4r</key>
	<string>audio</string>
	<key>m4v</key>
	<string>video</string>
	<key>mm</key>
	<string>code</string>
	<key>mov</key>
	<string>video</string>
	<key>mp3</key>
	<string>audio</string>
	<key>mp4</key>
	<string>video</string>
	<key>mpv</key>
	<string>video</string>
	<key>num</key>
	<string>xls</string>
	<key>ods</key>
	<string>xls</string>
	<key>odt</key>
	<string>txt</string>
	<key>pag</key>
	<string>txt</string>
	<key>pcm</key>
	<string>audio</string>
	<key>pdb</key>
	<string>txt</string>
	<key>pdf</key>
	<string>pdf</string>
	<key>php</key>
	<string>code</string>
	<key>phtml</key>
	<string>code</string>
	<key>pl</key>
	<string>code</string>
	<key>plist</key>
	<string>txt</string>
	<key>pm</key>
	<string>code</string>
	<key>png</key>
	<string>img</string>
	<key>pps</key>
	<string>ppt</string>
	<key>ppt</key>
	<string>ppt</string>
	<key>pptx</key>
	<string>ppt</string>
	<key>ppsx</key>
	<string>ppt</string>
	<key>py</key>
	<string>code</string>
	<key>rar</key>
	<string>zip</string>
	<key>rb</key>
	<string>code</string>
	<key>rtf</key>
	<string>txt</string>
	<key>ttf</key>
	<string>txt</string>
	<key>otf</key>
	<string>txt</string>
	<key>rtfd</key>
	<string>txt</string>
	<key>scm</key>
	<string>code</string>
	<key>sh</key>
	<string>code</string>
	<key>sql</key>
	<string>code</string>
	<key>ss</key>
	<string>code</string>
	<key>tif</key>
	<string>img</string>
	<key>tiff</key>
	<string>img</string>
	<key>tga</key>
	<string>img</string>
	<key>svg</key>
	<string>img</string>
	<key>txt</key>
	<string>txt</string>
	<key>wav</key>
	<string>audio</string>
	<key>web</key>
	<string>html</string>
	<key>webarchive</key>
	<string>html</string>
	<key>xbm</key>
	<string>img</string>
	<key>xls</key>
	<string>xls</string>
	<key>sketch</key>
	<string>sketch</string>
	<key>xlsx</key>
	<string>xls</string>
	<key>csv</key>
	<string>xls</string>
	<key>xml</key>
	<string>txt</string>
	<key>zip</key>
	<string>zip</string>
	<key>tar</key>
	<string>zip</string>
	<key>gz</key>
	<string>zip</string>
	<key>tex</key>
	<string>txt</string>
	<key>heic</key>
	<string>img</string>
	<key>ics</key>
	<string>ics</string>
</dict>
</plist>
